body { 
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	 }

h1, h2, h3, h4 {
	font-family: Helvetica, sans-serif;
}

h1 {
	font-size: 15px;
	line-height: 16.5px;
	text-align: right;
	margin-top: 15px;
	margin-right: 70px;
    font-family: benton-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#logo-drbob {
	padding: 20px;
	position: absolute;
  	left: 0px;
  	top: -5px;
  	z-index: 1;
	
}

#background {
    height: auto;
    background-repeat: no-repeat;
    background-position: center;

}

h2 {
	margin-bottom: 90px;
}

h3 {
	font-size: 46px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 30px;
    padding-bottom: 5px;
	font-family: whitman, serif;
	font-weight: 600;
	font-style: normal;
    letter-spacing: 1px;

}

h4 {
    font-size: 16px;
    color: red;
    text-align: center;
    font-family: benton-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 40px;

}
p {
	font-size: 21px;
	color: #FFFFFF;
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
    font-family: whitman, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

h4 {
	font-size: 24px;
}

hr { 
  display: block;
  border-style: solid;
  border-width: 3px;
  border-color: red;
  margin: 0;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

header {margin-bottom: 20px;}

img { width: 100%; }

input#mobile_menu {display:none;}
input#mobile_menu:checked + nav {right: 60px; top:200px;}
input#mobile_menu:checked + nav label {background-image: url(images/menu_close.svg);}

/* START of Mobile Menu */
.nav, .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
}

.icon {
    position: fixed;
    cursor: pointer;
    top: 30px;
    right: 0%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    display: block;>
    z-index: 1000;
}

.hamburger {
    width: 30px;
    height: 5px;
    line-height: 90px;
    background: red;
    border-radius: 5px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 5px;
    background: red;
    border-radius: 10px;
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

.menu-mobile {
    background-color: #4f4f4f;
    height: 100vh;
    position: fixed;
    width: 20%;
    right: 0;
    top: 60px;
    z-index: 999;
    padding-top: 20px;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

.menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #FFFFFF;
    height: 80px;
    line-height: 70px;
}
.menu-mobile a:hover {
    color: red;
}

.desktop, .menu-desktop, .menu-mobile {
        display: none;
    }
/* END OF Mobile Menu */

a { 
	color: red;
	text-decoration: none;
	 }
a:hover { color: black; }

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: 0px;
}

.grid div {
	background-color: #ccc;
}

.grey {
	background-color: #4F4F4F;
	height: 30vh;

}


@media only screen and (min-width: 768px) {

		.grid {
				grid-template-columns: 1fr 1fr;

		}
}

@media only screen and (min-width: 1024px) {
		.grid {
				grid-template-columns: 1fr 1fr 1fr 1fr;

		}
		
}

@media only screen and (min-width: 1200px) {

}