body { 
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	 }

h1 {
	font-size: 15px;
	line-height: 16.5px;
	text-align: right;
	margin-top: 15px;
	margin-right: 70px;
    font-family: benton-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#logo-drbob {
	padding: 20px;
	position: absolute;
  	left: 10px;
  	top: -5px;
  	z-index: 1;
	
}

#background {
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    float: left;

}

.wrapper {
  color: #FFF;
  text-align: center;
  padding: 40px 0px 0px 0px;

}

button {
  display: block;
  margin: 0 auto;
  background: white;
  position: relative;
  border: none;
  padding: 10px 10px;
  color: red;
  font-size: 12px;
  font-family: benton-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  animation-iteration-count: infinite;
}

.animation {

  position: relative;
  width: 175px;
  height: 50px;
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.animation:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);}}


h2 {
	margin-bottom: 90px;
}

h3 {
	font-size: 46px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 30px;
  padding-bottom: 15px;
	font-family: whitman, serif;
	font-weight: 600;
	font-style: normal;
  letter-spacing: 1px;

}

h4 {
    font-size: 16px;
    color: red;
    text-align: center;
    font-family: benton-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 40px;

}
p {
	   font-size: 21px;
	   color: #FFFFFF;
	   text-align: center;
	   margin-left: 200px;
	   margin-right: 200px;
    font-family: whitman, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

h5 {

  padding-top: 50px;
  text-align: left;
  margin-left: 15px;
  margin-right: 850px;
  color: white;
  font-family: whitman; serif;
  font-size: 26px;


}

h4 {
	font-size: 24px;
}

h6 {

    font-size: 12px;
    color: white;
    text-align: center;
    font-family: benton, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 15px;
    padding-bottom: 25px;

}

.new-patient-block {
  padding: 30px;
}

.flossy {
}

#new-description {

  margin: 30px 880px 50px 15px;
  text-align: left;
  font-family: whitman, serif;
  font-weight: 500px;
  font-style: normal;
  font-size: 18px;
  color: black;
}

hr { 
  display: block;
  border-style: solid;
  border-width: 3px;
  border-color: red;
  margin: 0;
}

:root {
  --mainColor: red;
}

.grid-item a {
  background:
  linear-gradient(
   to bottom, var(--mainColor) 0%,
   var(--mainColor) 100%
   );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-decoration: none;
  transition: background-size .2s;
  font-size: 26px;
  color: white;
  text-align: center;
  font-family: benton-sans, sans-serif;
  font-weight: 400;
  font-style: normal;

}
.grid-item a:hover {
  background-size: 4px 50px;
}

#facebook {
    width: 20px;
    padding-right: 9px;
    z-index: 2;
}

#twitter {
    width: 20px;
    z-index: 2;
}

#google {
    width: 20px;
    padding-left: 9px;
    z-index: 2;
}

header {margin-bottom: 20px;}

img { width: 100%; }

input#mobile_menu {display:none;}
input#mobile_menu:checked + nav {right: 60px; top:200px;}
input#mobile_menu:checked + nav label {background-image: url(images/menu_close.svg);}

/* START of Mobile Menu */
.nav, .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
}

.icon {
    position: fixed;
    cursor: pointer;
    top: 30px;
    right: 0%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    display: block;>
    z-index: 1000;
}

.hamburger {
    width: 30px;
    height: 5px;
    line-height: 90px;
    background: red;
    border-radius: 5px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 5px;
    background: red;
    border-radius: 10px;
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

.menu-mobile {
    background-color: #4f4f4f;
    height: 100vh;
    position: fixed;
    width: 20%;
    right: 0;
    top: 60px;
    z-index: 999;
    padding-top: 20px;
    font-family: benton-sans, sans-serif;
    text-align: center;
}

.menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #FFFFFF;
    height: 80px;
    line-height: 70px;
}
.menu-mobile a:hover {
    color: red;
}

.desktop, .menu-desktop, .menu-mobile {
        display: none;
    }
/* END OF Mobile Menu */

a { 
	color: red;
	text-decoration: none;
	 }
a:hover { color: black; }

.grid-container {

    background-color: #4F4F4F;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 40px; 

}

.grid-item {

  padding: 0px 45px 0px 45px;
  text-align: center;
  font-family: whitman, serif;
  font-weight: 500px;
  font-style: normal;
  font-size: 18px;
}

.home-page .grid {

  margin: auto;
  width: 95%;

}

#staff-photo {

  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
  width: 40%;
  float:center;
}

.staff-photo {

   background-color: #4F4F4F; 
   padding-bottom: 40px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
  background-color: #CFCFCF;
}

.grey {
	background-color: #4F4F4F;
    padding-bottom: 40px;
}

.new-patient {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4F4F4F;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.button-1 {
  min-width: 100px;
  min-height: 60px;
  font-family: 'benton', sans-serif;
  font-size: 13px;
  font-weight: 400;
  background: red;
  border: none;
  box-shadow:10px 10px 15px rgba (0 0 0 90);
  position: relative;
  padding: 15px;
  margin: 10px 60px 0px 60px;

  }

iframe {
    float:left
}

footer {

    background-color: #4F4F4F;
    color: #FFFFFF;
    padding-bottom: 10px;
    padding-left: 10px;

}


#facebook {
    padding-top: 10px

}

.footer {
    text-align: right;
    float: right;
    padding-top: 10px;
    padding-right: 10px;

}

@media only screen and (min-width: 768px) {

    .grid {
				grid-template-columns: 1fr 1fr;

		}
}

@media only screen and (min-width: 1024px) {
		
    .grid-container {

    grid-template-columns: auto auto auto;
   

}

.new-patient {
    grid-template-columns: auto auto auto auto auto;

}


    .grid {
				grid-template-columns: 1fr 1fr 1fr 1fr;

		}
		
}


@media only screen and (min-width: 1200px) {

}